<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<%= layout_meta_tags %>
<%= load_common(:header) %>
<style>
<%= File.read(File.dirname(__FILE__) + "/style.css") %>
</style>
</script>
</head>
<body>
<div id="wrapper">
  <div id="content" class="site">
    <div class="content">

      <%= yield %>

    </div><!-- /.content -->
  </div><!--/#content .site -->
</div><!-- /#wrapper -->
</body>
</html>
